// Specific CSS for your home-page

.main_title{ // "Checklist Central"
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.333333px;
  color: #FFFFFF;
}

.checklists-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .checklists-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .checklists-grid {
    grid-template-columns: 1fr;
  }
}

.checklist_container{
  background-color: $purple;
  border-radius: 30px;
}

// CSS for all pages
body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $dark-black;
  padding-right: 50px;
  padding-left: 50px;
}
