/* Page with CSS relevant for the CONTENT inside the new and edit forms */

.new_edit_main_title {
  text-align: left;
  color: $barbie-pink;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5rem;
}

// deriving from the new_checklist_form ID
#new_checklist_form form {
  margin: 0 auto;
  border-radius: 15px;
}

.new-edit-form-inputs input[type="text"],
.new-edit-form-inputs select, /* As in, dropdown with categories */
.new-edit-form-inputs textarea { /* For the description field */
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 50px; /* Keeping with the circular design language */
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  transition: border-color 0.3s ease;
}

.new-edit-form-inputs input[type="text"]:focus,
.new-edit-form-inputs select:focus,
.new-edit-form-inputs textarea:focus {
  border-color: $barbie-pink;
  outline: none;
}

.new-edit-form-inputs textarea {
  resize: none; // User can't resize the textarea vertically.
}

// .new-edit-form-inputs select::include_blank - TBC needs to be done in JavaScript
.new-edit-form-inputs input[type="text"]::placeholder {
  color: $magenta;
  opacity: 1; // Optional: browsers may reduce the opacity of the placeholder; set it to 1 to ensure full color intensity
  margin-left: 0.5rem;
}

.new-edit-form-inputs textarea::placeholder {
  color: $magenta;
  opacity: 1; // Optional: browsers may reduce the opacity of the placeholder; set it to 1 to ensure full color intensity
  margin-top: 20px;
}

// Placeholder for select element CSS support is not yet available in all browsers. Work in progress. 
// #checklist_category option[value=""] {
//   color: $magenta;
// }

.new-edit-form-inputs label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  color: $yellow;
  font-size: 17px;
  font-weight: normal;
}

.submit-button {
  font-size: 35px;
  color: $yellow;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  color: $magenta;
}
