.new_checklist_button{
  // for styling
  background-color: $barbie-pink;
  border-radius: 50px;
  height: 85px;
  width: 85px;
  padding: 10px;
  transition: background-color 0.3s;

  // for positioning
  position: fixed;
  right: 45px; /* 20px from the right */
  bottom: 45px; /* 20px from the bottom */
  z-index: 5; /* Ensure it stays on top */

  // to center svg within
  display: flex;          /* Convert the button into a flex container */
  justify-content: center; /* Center children horizontally */
  align-items: center;     /* Center children vertically */

   /* Add a transition for the transform property to make the scaling smooth */
   transition: background-color 0.3s, transform 0.3s;
   transform-origin: bottom right;  /* Set the origin for the transformation to the bottom right corner of the button */
}

.new_checklist_button:hover {
  /* Scale the button up on hover */
  transform: scale(2);
}

svg:hover path {
  fill: $yellow; /* Change fill color on hover */
}

.new-task-button{
  background-color: $green;
  border-radius: 50px;
  height: 45px;
  width: 45px;
  padding: 10px;

  // for positioning
  position: absolute;
  right: 20px; /* 20px from the right */
  bottom: 0px; /* unnecessary */
  z-index: 1; /* Ensure it stays on top */
  transform: translateY(50%); /* This will move it 50% of its own height downwards, effectively centering it on the edge */

  // to center svg within
  display: flex;          /* Convert the button into a flex container */
  justify-content: center; /* Center children horizontally */
  align-items: center;     /* Center children vertically */
}
